.python-version
.vscode/settings.json
data/*
!data/LUNA16/
data/LUNA16/VOC
data/LUNA16/VOC.zip
!data/scripts/
!data/__init__.py
!data/config.py
!voc0712.py
__pycache__/
weights/vgg16_reducedfc.pth
.vscode/launch.json
weights/ssd300_COCO_5000.pth
weights/ssd300_mAP_77.43_v2.pth
ssd300_120000/test/detections.pkl
test.txt
weights/ssd_300_VOC0712.pth
eval/test1.txt
ssd300_120000/test/
test/
data/LUNA16/masked/
data/LUNA16/csdn_VOC/
data/LUNA16/csdn_VOC.zip
